<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coaching Management System</title>
    <link rel="stylesheet" href="assets/css/bootstrap.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/css/responsive.css" />
</head>

<body>
    <section class="nav-section">
        <nav class="nav-design">
            <div class="logo">
                <h2>Vanila</h2>
            </div>

            <ul>
                <li>
                    <a href="/home" class="active"> Home </a>
                </li>
                <li>
                    <a href="#about-us"> About Us</a>
                </li>
                <li>
                    <a href="/courses"> Courses</a>
                </li>
                <li>
                    <a href="/notice"> Notice </a>
                </li>
                <li>
                    <a href="/contact"> Contact </a>
                </li>
                <li>
                    <a href="/login"> Sign In </a>
                </li>
                <li>
                    <a href="/signup" class="n-btn"> Register </a>
                </li>
            </ul>
        </nav>
    </section>
    
    <section>
        <div class="container my-5">
            <div class="row justify-content-center ">
                <div class="col-lg-8 my-2">
                    <h2>Teacher Registration</h2>
                </div>
                <div class="col-lg-8">
                   

                    <form action="" method="POST">
                        <div class="form-group">
                                <label for="fullname">Full Name of Teacher:</label>
                                <input type="text" class="form-control" id="fullname" placeholder="Enter Name"
                                name="fname">
                            </div>
                                
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email</label>
                                <input type="text" class="form-control" id="email" placeholder="Enter Email Address"
                                name="email">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="password" placeholder="Password" 
                                name="password">
                            </div>

                            <div class="form-group">
                                <label for="TPhoneNumber">Phone Number</label>
                                <input type="number" class="form-control" id="TPhoneNumber" placeholder="Phone Number"
                                name="TPhoneNumber">
                            </div>

                            <div class="form-group">
                                <label for="qualification_details">Qualification</label><br>
                                <textarea name="qualification_details" id="" cols="50" rows="10"></textarea>
                            </div>
                            <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="top-footer">
            <div class="container">
                <div class="row text-center">
                    <div class="col-lg-4">
                        <div class="footer-nav">
                            <h6>Navigation</h6>
                            <hr>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Courses</a></li>
                                <li><a href="#">Contacts</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="footer-service">
                            <h6>Course Type</h6>
                            <hr>
                            <ul>
                                <li><a href="#">Regular</a></li>
                                <li><a href="#">Model Test</a></li>
                                <li><a href="#">Revision</a></li>
                            </ul>
                        </div>
                        
                    </div>
                    <div class="col-lg-4">
                        <div class="footer-contact">
                            <h6>Contact Info</h6>
                            <hr>
                            <p>
                                Lorem ipsum dolor sit amet, consect etur adipis.
                            </p>
                            <span><strong>Tel:</strong>+01-788-873338</span>
                            <span><strong>Email:</strong>hello@chemtor.com</span>
                            <span><strong>Location:</strong>Mohammadpur,Dhaka-1207</span>
                        </div>                              
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/proper.js"></script>
    <script src="assets/js/bootstrap.js"></script>
</body>

</html>